header{
    position:relative;
    position:sticky; 
    top: 0;
    z-index: 10;

    border: 2px solid black;
    height:65px;
    width:100%; 

    text-align:center;
}

/* Navigation menu bar */
nav{
    position: absolute;
    right:0;
    bottom: -50px;

    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    flex-direction: row;
}

/* Each Div/Block in the navigation menu */
.menu-item{
    margin: 10px;
    padding: 10px;
    width: 100px;
    text-align: center;
    border: 2px solid black;
    border-top:none;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex:1;
}

footer{
    border: 2px solid black;
    height:65px;
    width:100%;

    text-align:center;
}